DJANGO_SECRET_KEY=troque-por-uma-chave-secreta
DJANGO_DEBUG=True

DJANGO_DB_NAME=ong_docker
DJANGO_DB_USER=ong_docker_user
DJANGO_DB_PASSWORD=troque-por-uma-senha-docker
DJANGO_DB_HOST=db
DJANGO_DB_PORT=5432

POSTGRES_DB=ong_docker
POSTGRES_USER=ong_docker_user
POSTGRES_PASSWORD=troque-por-uma-senha-docker