DJANGO_SECRET_KEY=troque-por-uma-chave-secreta
DJANGO_DEBUG=True

DJANGO_DB_NAME=ong_project
DJANGO_DB_USER=ong_user
DJANGO_DB_PASSWORD=troque-por-uma-senha-local
DJANGO_DB_HOST=127.0.0.1
DJANGO_DB_PORT=5432